:root {
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #50AAFF 0%, #FAFAFF 50%, #0AEFFF 75%, #0512FB 100%);
  display: flex;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}
